@import "../../variables.modules";

i {
  padding-left: 0.5rem;

  &.red {
    color: $red;
  }

  &.amber {
    color: $yellow;
  }

  &.green {
    color: $green;
  }
}

.terminal {
  background: none; // pozadí řešíme inline ve stylu komponenty
  color: #ad1457;
  font-family: 'Comic Sans MS', Comic Sans, cursive, sans-serif;

  p, li {
    margin: 1rem 0;
    color: #ad1457;
  }

  a, a:visited {
    color: #f06292;
    font-weight: bold;
    text-decoration: underline;
  }
}